.calculator-page {
  padding: 100px 8vw;
  width: 100vw;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: #E7F5EE;
}

.calculator-page h1 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #353C46;
}

.Naija {
  color: #16A34A;
}

.calc-desc {
  max-width: 500px;
  margin: auto;
  color: #353C46;
  margin-bottom: 60px;
  font-weight: 600;
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 64px;
  margin-bottom: 60px;
}

.calc-box {
  background: white;
  border-radius: 14px;
  padding: 10px 0;
  color: #292F36;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}

.calc-intro{
  color: #292F36;
}

.calc-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  color: #292F36;
}

.calc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
  margin-top: 5px;
}

.calc-icon svg {
  width: 26px;
  height: 26px;
}

.calc-content {
  text-align: center;
}

.calc-content h3{
  margin-bottom: -10px;
  font-size: 18px;
  font-weight: 600;
}

.calc-box p {
  font-size: 13px;
  color: #292F36;
  font-weight: 400;
}

.calc-box.active {
  background: #0B3C5D;
  color: white;
  border: none;
}

.calc-box.active p {
  color: #e4eef5;
}

.calc-box.active svg rect,
.calc-box.active svg path,
.calc-box.active svg text {
  stroke: white;
}

.calculator-content {
  margin-top: 40px;
}

.calc-box .active{
  border:2px solid #082B42;
  background:#f3f7fa;
  transform:translateY(-2px);
}

.calc-box .active h3{
  color:#082B42;
}

@media (max-width: 1076px) {
  .calc-grid {
    gap: 50px;
  }
  .calc-content h3 {
    font-size: 16px;
  }
  .calc-content p {
    font-size: 12px;
  }
}
@media (max-width: 980px) {
  .calc-icon {
    margin-bottom: 0;
  }
  .calc-content h3 {
    font-size: 18px;
  }
   .calc-content p {
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  .calc-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }
  .calc-content p {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .calc-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .calc-box {
    padding: 20px 12px;
  }

  .calc-content h3{
    font-size: 16px;
  }

  .calc-box p {
    font-size: 13px;
  }

  .calc-icon svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .calc-content h3 {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .calculator-page {
    width: 100%;
  }
  .calc-icon {
    width: 20px;
    height: 20px;
  }
  .calc-content h3 {
    font-size: 15px;
  }
  .calc-content p {
    font-size: 10px;
  }
}

.vat-container, .business-container,
.payeTax-container
{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap: 54px;
  margin-top:40px;
  font-family: 'Poppins', sans-serif;
}

.vat-form,
.vat-result,
.business-form,
.business-result,
.payeTax-form,
.payeTax-result
{
  background:white;
  border-radius:16px;
  padding:30px;
  box-shadow:0 8px 24px rgba(0,0,0,0.05);
  border:1px solid #f1f1f1;
}


.vat-header,
.business-header,
.payeTax-header
{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  margin-bottom: 25px;
}

.vat-first,
.business-first,
.payeTax-title
{
  display:flex;
  align-items:center;
  gap:5px;
  margin-bottom:17px;
}

.vat-first svg,
.business-first svg,
.payeTax-title svg
{
  margin-top: 10px;
  width:20px;
  height:20px;
}

.vat-first h2,
.business-first h2,
.payeTax-title h2
{
  font-size:20px;
  font-weight:600;
  color:#0B3C5D;
  margin:0;
}

.vat-header p,
.business-header p,
.payeTax-header p
{
  font-size:14px;
  color:#20242A;
  margin:0;
}

.vat-mode
{
  display:flex;
  gap:10px;
  margin-top:20px;
  margin-bottom:15px;
}

.vat-mode button
{
  flex:1;
  padding:10px;
  border-radius:8px;
  background: transparent;
  border: 1px solid #5C7C92;
  color: #0B3C5D;
  cursor:pointer;
  font-size:14px;
  text-align:center;
  transition:0.2s;
  font-weight: 400;
  margin-bottom: 10px;
}

.business-button {
  gap: 39px;
}


.vat-mode button:hover,
.business-button button:last-child:hover
{
  background:#f0f4f7;
}



.vat-mode button.active{
  background:#0B3C5D;
  color:white;
  border:none;
}
button:focus{
  outline: none;
}

button:active{
  outline: none;
}

.vat-form p,
.business-form p,
.payeTax-form p
{
  text-align:left;
  font-size:14px;
  margin-bottom:10px;
}


.vat-form input,
.business-form input,
.payeTax-form input
{
  width:100%;
  padding:12px;
  border-radius:8px;
  border:1px solid #3C637D;
  font-size:15px;
  margin-bottom:10px;
}

.vat-form input:focus,
.business-form input:focus,
.payeTax-form input:focus
{
  outline:none;
  border-color:#082B42;
}

.error{
  color:red;
  font-size:13px;
  margin-bottom:10px;
}

.business-form .list {
  margin-top: 22px;
  background: #E7ECEF;
  border-radius: 12px;
  padding: 10px;
  text-align: left;
  color: black;
  font-size: 14px;
  margin-bottom: 22px;
}

.list .list-item li {
  margin-bottom: 12px;
}

.vat-buttons,
.business-button,
.button2,
.payeTax-buttons
{
  display:flex;
  gap:22px;
  margin-top:10px;
}

.vat-buttons button,
.button2 button,
.payeTax-buttons button
{
  flex:1;
  border-radius:8px;
  border:none;
  cursor:pointer;
  font-size:14px;
  transition:0.2s;
  font-weight: 400;
}

.vat-buttons button:first-child,
.button2 button:first-child,
.payeTax-buttons button:first-child
{
  background:#0B3C5D;
  color:white;
  padding:12px;
  flex:2;
}

.vat-buttons button:first-child:hover,
.button2 button:first-child:hover,
.payeTax-buttons button:first-child:hover
{
  background:#061e2f;
}

.vat-buttons button:last-child,
.business-button button:last-child,
.payeTax-buttons button:last-child
{
  background: transparent;
  border: 1px solid #5C7C92;
  color: #0B3C5D;
  flex:1;
}

.vat-buttons button:last-child:hover,
.button2 button:last-child:hover,
.payeTax-buttons button:last-child:hover
{
  background:#f0f4f7;;
}


.vat-result h3,
.business-result h3,
.payeTax-result h3
{
  font-size:20px;
  margin-bottom:18px;
  text-align: left;
  color: #0B3C5D;
}

.vat-result p,
.business-result p,
.payeTax-result p
{
  font-size:15px;
  margin-bottom:8px;
  text-align: left;
  color: #20242A;
  font-weight: 400;
}

.strng {
  font-weight: 500;
}

.vat-result .empty,
.business-result .empty,
.payeTax-result .empty
{
  margin-top: 100px;
  font-size: 10px;
  text-align:center;
}

.vat-explanation,
.business-result .list,
.payeTax-analysis
{
  margin-top:20px;
  padding:18px;
  background:#f8fafc;
  border-radius:10px;
  border-left:4px solid #082B42;
  text-align: left;
}

.vat-explanation h4,
.business-result .list h4,
.payeTax-analysis h4
{
  margin-bottom:8px;
  font-size:16px;
  color:#0B3C5D;
}

.vat-explanation p,
.business-result .list p,
.payeTax-analysis p
{
  font-size:14px;
  line-height:1.6;
  color: #20242A;
}


@media (max-width:900px){

  .vat-container,
  .business-container,
  .payeTax-container
  {
    grid-template-columns:1fr;
  }

}

@media (max-width:600px){

  .vat-form,
  .vat-result,
  .business-form,
  .business-result,
  .payeTax-form,
  .payeTax-result
  {
    padding:22px;
  }

  .vat-first h2,
  .business-first h2,
  .payeTax-title h2
  {
    font-size:18px;
  }

  .vat-mode button,
  .business-button button
  {
    font-size:13px;
    padding:8px;
  }

  .vat-buttons button,
  .button2 button,
  .payeTax-buttons button
  {
    font-size:13px;
    padding:10px;
  }

}

.businType {
  font-size:16px;
  margin-bottom:16px;
  text-align: left;
  color: black;
  font-weight: 500;
}